<ion-header>
  <ion-toolbar>
    <ion-title>Logged In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="getUserInfo()">Get User Details</ion-button>
  <ion-button (click)="signOut()">Sign Out</ion-button>

  <ion-card *ngIf="action">
    <ion-card-header>
      Action Data
    </ion-card-header>
    <ion-card-content>
      {{action | json}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="userInfo">
    <ion-card-header>
      User Info
    </ion-card-header>
    <ion-card-content>
      {{userInfo | json}}
    </ion-card-content>
  </ion-card>
</ion-content>
